:root {
    --color-blue: #1d75fa;
    --color-dark: #272727;
    --color-gray: #707070;
    --color-light: #f2f2f2;
}

._color__blue {
    color: var(--color-blue);
}

._color__dark {
    color: var(--color-dark);
}

._color__gray {
    color: var(--color-gray);
}

._color__light {
    color: var(--color-light);
}


/* NOTA: contenido ajustado a las dimenciones del navegador 
*
*    repeat(auto-fill, minmax(620px, 1fr));
*
* ************************************************************** */

._container {
    width: 1080;
    max-width: 100%;
}


/* --------------------- one --------------------- */

._section__one__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

._section__one__content {
    display: block;
    position: inherit;
    margin: auto;
    color: var(--color-gray);
}

._section__one__content h1,
._section__one__content p {
    font-size: 2.5rem;
    margin: 0;
}

._section__one__content p {
    font-weight: 100;
}

._section__one__content p:nth-last-child(1) {
    font-size: 1.2rem;
}

._section__one__content img {
    width: 300px;
    max-width: 100%;
}

._b {
    background: var(--color-blue);
    width: 100%;
    display: grid;
    color: var(--color-light);
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
}

@media screen and (max-width: 768px) {
    ._section__one__container {
        display: grid;
        grid-template-columns: 1fr;
    }
}